body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*keeps element padding inside*/
  font-family: "Manrope", sans-serif;
  position: relative;
  overflow-x: hidden;
}

:root {
  --offblack: rgba(27, 27, 27);
  --blue: rgba(155, 213, 223);
  --pink: rgba(210, 157, 193);
  --green: rgba(191, 219, 188);
  --brown: rgba(113, 77, 76);
  --offwhite: rgba(222, 222, 222);

  --orange: rgba(248, 178, 129);
  --purple: rgba(138, 116, 140);
  --beige: rgba(145, 119, 114);
}

@font-face {
  font-family: "ahganirya";
  src: url(https://cdn.glitch.global/69225e86-d061-4cf0-a1b8-2ad0e7b45536/AhganiryaPersonalUse-Yznaj.ttf?v=1682578385324);
}
section {
  padding: 5%;
}
h2 {
  font-size: 2.5rem;
  line-height: 175%;
  padding: 1rem 0rem;
}
h3 {
  font-size: 1.25rem;
  line-height: 150%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav svg {
  cursor: pointer;
  z-index: 10;
}

.links {
  position: absolute;
  background: var(--offwhite);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
}
.links a {
  color: var(--offblack);
  font-size: 2rem;
  text-decoration: none;
}
.links a:hover {
  color: var(--pink);
}

.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: "ahganirya", sans-serif;
}
.logo img {
  width: 3rem;
}

.front-page {
  min-height: 100vh;
  background: var(--brown);
  color: var(--offwhite);
  position: relative;
  z-index: 1;
  background-image: url("https://cdn.glitch.global/69225e86-d061-4cf0-a1b8-2ad0e7b45536/meditating2.jpg?v=1682582970048");
  background-position: center;
  background-size: cover;
}
.selling-point {
  margin-top: 25vh;
  font-family: "ahganirya", sans-serif;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  text-align: center;
}
.selling-point h3 {
  font-family: "Manrope", sans-serif;
  z-index: 1;
}

.ctas {
  margin-top: 2rem;
}
.ctas button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.22);
  margin: 1rem;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
}
.cta-main {
  background-color: var(--pink);
  color: var(--offblack);
}
.cta-sec {
  background-color: var(--offblack);
  color: var(--offwhite);
}

.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.classes {
  background: var(--offwhite);
  color: var(--offblack);
  text-align: center;
  font-family: "ahganirya", sans-serif;
}

.videos video {
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}
.meditation,
.yoga,
.strength {
  position: relative;
}
.videos h3 {
  position: absolute;
  color: var(--green);
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4);
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 2rem;
  line-height: 220%;
}

.about {
  background: var(--brown);
  color: var(--offwhite);
}
.about h2 {
  font-family: "ahganirya", sans-serif;
  text-align: center;
}
.about p {
  line-height: 150%;
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
}
.about img {
  width: 100%;
  border-radius: 1rem;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .classes,
  .about {
    padding: 10%;
  }
  .videos {
    display: flex;
    gap: 2rem;
  }
  .about {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }
  .about img {
    width: 50%;
  }
  .about h2 {
    text-align: start;
  }
}

.cta-sec-hover {
  background-color: var(--offwhite);
  color: var(--offblack);
}
.cta-main-hover {
  background-color: var(--green);
  color: var(--offblack);
}

.fadeindown{
  animation: fadeindown 1.5s both;
}
@keyframes fadeindown{
  0%{opacity: 0; 
    transform: translateY(-10px)
  }
  100%{opacity: 1; 
    transform: translateY(0px)
  }
}