/* CSS files add styling rules to your content */

body {
  font-family: helvetica, verdana, sans-serif;
  margin: 2em;
  background-
}

h1 {
  font-style: italic;
  color: cyan;
}

a:hover{
  color : green;
}
